<div class="vcenter preformatted" data-ng-if="node.footer !== ''">{{node.footer}}</div>
<div id="external_provider" class="vcenter">
<span data_translate>EXTERNAL</span>
</div>
<div id="AttributionClause" class="vcenter">Powered by <a href="https://www.globaleaks.org/" rel="noreferrer noopener" title="GlobaLeaks - The Open-Source Whistleblowing Software">GlobaLeaks</a> codebase rel. 3.9.11. Released on 10 July 2019. Full source available <a href="https://bitbucket.org/lt42_it/whistleblowing_comdata">here</a></div>
