<div id="TipCommunicationComments" class="panel panel-default" data-ng-init="collapsed = false">
  <div class="panel-heading" data-ng-click="collapsed = !collapsed; $event.stopPropagation();">
    <div>
      <span data-translate>Comments</span>
      <span class="pull-right">
        <i data-ng-if="!collapsed" class="glyphicon glyphicon-collapse-down" uib-popover="{{'Collapse' | translate}}" popover-placement="left"></i>
        <i data-ng-if="collapsed" class="glyphicon glyphicon-fullscreen" uib-popover="{{'Expand' | translate}}" popover-placement="left"></i>
      </span>
    </div>
  </div>
  <div class="panel-body" data-ng-show="!collapsed">
    <div data-ng-if="session.role !== 'whistleblower' || tip.enable_two_way_comments" class="row">
      <div class="col-md-12">
        <textarea id="TipCommunicationCommentsInput" data-ng-model="tip.newCommentContent" maxlength="4096" class="form-control" autocomplete="off" dynamic-textarea></textarea>
        <span class="pull-right">{{tip.newCommentContent.length ? tip.newCommentContent.length : '0'}}/4096</span>
      </div>
      <div class="col-md-12">
        <span class="pull-left">
          <button id="comment-action-send" class="btn btn-sm btn-primary" data-ng-click="newComment()" data-ng-disabled="!tip.newCommentContent || tip.newCommentContent == ''">
            <i class="glyphicon glyphicon-comment"></i>
            <span data-translate>Send</span>
          </button>
        </span>
        <span data-ng-if="session.role === 'receiver' && preferences.can_grant_permissions" class="pull-right form-group">
          <label class="inline-checkbox">
            <input data-ng-model="tip.enable_two_way_comments" data-ng-change="tip.operation('set', {'key': 'enable_two_way_comments', 'value': tip.enable_two_way_comments})" type="checkbox" />
            <span data-translate>Allow the whistleblower to write comments</span>
          </label>
        </span>
      </div>
    </div>
    <div id="SubmissionComments" data-ng-if="tip.comments.length > 0" data-ng-repeat="comment in tip.comments | orderBy:'creation_date':true">
      <div id="comment-{{$index}}" data-ng-switch="" on="comment.type">
        <div data-ng-switch-when="whistleblower" class="alert alert-info">
          <div class="row">
            <div class="col-md-6">
              <div class="WbNameInMessages" data-translate>Whistleblower</div>
            </div>
            <div class="pull-right" style="margin-right:20px">
              <div>{{::comment.creation_date | date:'dd-MM-yyyy HH:mm'}}</div>
            </div>
          </div>
          <div class="preformatted">{{::comment.content}}</div>
        </div>
        <div data-ng-switch-when="receiver" class="alert alert-success">
          <div class="row">
            <div class="col-md-6">
              <div class="ReceiverNameInMessages">{{::comment.author}}</div>
            </div>
            <div class="pull-right" style="margin-right:20px">
              <div>{{::comment.creation_date | date:'dd-MM-yyyy HH:mm'}}</div>
            </div>
          </div>
          <div class="preformatted">{{::comment.content}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
