<div id="TipPageFilesInfoBox" class="panel panel-default" data-ng-init="collapsed = false">
  <div class="panel-heading" data-ng-click="collapsed = !collapsed; $event.stopPropagation();">
    <div>
      <span data-translate>Attachments</span>
      <span class="pull-right">
        <i data-ng-if="!collapsed" class="glyphicon glyphicon-collapse-down" uib-popover="{{'Collapse' | translate}}" popover-placement="left"></i>
        <i data-ng-if="collapsed" class="glyphicon glyphicon-fullscreen" uib-popover="{{'Expand' | translate}}" popover-placement="left"></i>
      </span>
    </div>
  </div>
  <div class="panel-body" data-ng-show="!collapsed">
    <div data-ng-show="tip.rfiles.length">
      <div class="table-container">
        <table class="table table-striped" id="fileList">
          <thead>
            <tr>
              <th data-translate>Filename</th>
              <th data-translate>Download</th>
              <th data-translate>Upload date</th>
              <th data-translate>Type</th>
              <th data-translate>File size</th>
            </tr>
          </thead>
          <tbody id="fileListBody">
            <tr id="file-{{$index}}" data-ng-repeat="file in tip.rfiles">
              <td>{{::file.name}}</td>
              <td data-ng-show="file.status != 'unavailable'">
                <button class="btn btn-default tip-action-download-file"
                        uib-popover="{{'Download' | translate}}"
                        popover-placement="top"
                        data-ng-click="downloadRFile(file)">
                  <i class="glyphicon glyphicon-download"></i>
                  <span data-translate>download</span>
                </button>
              </td>
              <td data-ng-show="file.status == 'unavailable'">
                <div class="label label-warning" uib-popover="{{'The file is unavailable due to an internal error.' | translate}}" popover-placement="bottom" data-translate>file unavailable</div>
              </td>
              <td data-ng-show="file.status == 'nokey'">
                <div class="label label-warning" uib-popover="{{'The file is unavailable due to missing pgp key.' | translate}}" popover-placement="bottom" data-translate>file unavailable</div>
              </td>
	      <td>{{::file.creation_date | date:'dd-MM-yyyy'}}</td>
	      <td>{{::file.content_type}}</td>
              <td>{{::file.size | byteFmt:2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div data-ng-hide="tip.rfiles.length">
      <span data-translate>No files have been uploaded!</span>
    </div>
    <div data-ng-if="session.role === 'receiver' && preferences.can_grant_permissions" class="pull-right form-group">
      <label class="inline-checkbox">
        <input data-ng-model="tip.enable_attachments" data-ng-change="tip.operation('set', {'key': 'enable_attachments', 'value': tip.enable_attachments})" type="checkbox" />
        <span data-translate>Allow the whistleblower to add attachments to the submission</span>
      </label>
    </div>
  </div>
</div>
