<div data-ng-hide="session.password_change_needed">
  <div id="LanguagePickerBox" class="languagePick row" data-ng-if="node.languages_enabled.length > 1">
    <div class="pull-right">
      <span data-ng-if="!mobile && languages_enabled_selector.length < 4" data-ng-repeat="item in languages_enabled_selector">
        <a class="language-link" data-ng-class="{'language-link-selected': GLTranslate.state.language === item.code}" data-uib-popover="{{item.native}} ({{item.name}})" data-popover-placement="bottom" data-ng-click="GLTranslate.state.language = item.code">{{item.native}}</a>
        <span data-ng-if="!$last">|</div>
      </span>
      <select data-ng-if="mobile || languages_enabled_selector.length > 3" class="form-control" data-ng-if="false" data-ng-model="GLTranslate.state.language" data-ng-options="item.code as item.native for item in languages_enabled_selector"></select>
    </div>
  </div>
  <div id="LoginStatusBox" class="row" data-ng-if="Utils.showUserStatusBox()">
    <div class="pull-right">
      <span id="UsernameBox" data-ng-if="session.role !== 'whistleblower'">
        <label>{{preferences.name}}</label>
        <span class="text-separator">|</span>
      </span>
      <span id="HomeLinkBox" data-ng-if="session.role !== 'whistleblower'">
        <a id="HomepageLink" data-ng-href="{{session.homepage}}" data-translate>Home</a>
        <span class="text-separator">|</span>
      </span>
      <span id="PreferencesLinkBox" data-ng-if="session.role === 'admin'">
         <a id="PreferencesLink" href="#/admin/preferences" data-translate>Preferences</a>
         <span class="text-separator">|</span>
      </span>
      <span id="LogoutLinkBox">
        <a id="LogoutLink" href="" data-ng-click="Authentication.logout()" data-translate>Logout</a>
      </span>
    </div>
  </div>
  <div id="LoginFormBox" class="row" data-ng-if="Utils.showLoginForm()">
    <div class="pull-right">
      <div data-translate>Have you already filed a submission? Enter your receipt.</div>
      <div data-ng-include="'views/partials/wb_login.html'"></div>
      <div class="LoginErrorBox alert alert-danger" data-ng-show="errors[0].code == 9" data-translate>The receipt is either invalid or the submission has expired.</div>
    </div>
  </div>
</div>
