<div class="Question" data-ng-form="{{fieldFormVarName}}">
  <div data-ng-controller="SubmissionFormFieldCtrl" data-ng-switch="field.template_id">
    <div data-ng-switch-when="whistleblower_identity">
      <div data-ng-include="'views/submission/fields/whistleblower_identity.html'"></div>
    </div>
    <div data-ng-switch-default data-ng-switch="field.type">
      <div data-ng-switch-when="textarea" data-ng-class="{'has-error': f['input-' + entryIndex].$invalid}" data-ng-model-options="{'debounce':250}">
        <textarea id="{{::fieldEntry}}"
                  data-ng-init="maxlength = field.attrs.max_len.value > 0 ? field.attrs.max_len.value : 4096"
                  name="input-{{::entryIndex}}"
                  class="form-control inputelem"
                  data-ng-model="entry['value']"
                  data-ng-minlength="field.attrs.min_len.value"
                  maxlength="{{::maxlength}}"
                  aria-label="{{::field.label}}"
                  data-ng-required="entry.required_status"
                  data-ng-attr-placeholder="{{field.placeholder}}"
                  dynamic-textarea></textarea>
        <div>
          <div data-ng-if="entry['value'].length && maxlength >= 0 && (maxlength - entry['value'].length) <= 50" class="pull-right">{{entry['value'].length}}/{{maxlength}}</div>
        </div>
        <div data-ng-if="displayErrors()" class="has-error text-danger">
          <span data-ng-if="f['input-' + entryIndex].$error.required" data-translate>This field is mandatory.</span>
          <span data-ng-if="f['input-' + entryIndex].$error.minlength" data-translate>The answer is too short.</span>
        </div>
      </div>
      <div data-ng-switch-when="selectbox" data-ng-class="{'has-error': entry.required_status}">
        <select id="{{::fieldEntry}}" name="{{'input-' +  entryIndex}}" class="form-control inputelem" data-ng-model="entry['value']" data-ng-required="entry.required_status">
          <option style="display:none" value=""></option>
          <option data-ng-repeat="option in field.options | orderBy:field.attrs.display_alphabetically.value ? 'label' : 'presentation_order'" id="{{::fieldEntry}}-option-{{::$index}}" value="{{option.id}}">{{::option.label}}</option>
        </select>
      </div>
      <div data-ng-switch-when="multichoice" data-ng-class="{'has-error': entry.required_status}">
        <div data-ng-class="{'radio': (field.attrs.layout_orientation.value != 'horizontal')}">
          <label data-ng-class="{'radio-inline': (field.attrs.layout_orientation.value == 'horizontal')}" data-ng-repeat="option in field.options | orderBy:'presentation_order'" id="{{::stepId}}-field-{{fieldRow}}-{{fieldCol}}-input-{{entryIndex}}" name="{{'input-' +  entryIndex}}">
            <input class="inputelem" type="radio" id="{{::stepId}}-field-{{fieldRow}}-{{fieldCol}}-input-{{entryIndex}}-option-{{$index}}" data-ng-model="entry['value']" value="{{option.id}}" data-ng-required="field.required" />
            <span uib-popover="{{option.hint1}}" data-ng-class="{'underline': option.hint1}">{{::option.label}}</span>
          </label>
        </div>
</div>
      <div data-ng-switch-when="checkbox" data-ng-class="{'has-error': entry.required_status}">
        <div data-ng-class="{'checkbox': (field.attrs.layout_orientation.value != 'horizontal')}">
          <label data-ng-repeat="option in field.options | orderBy:field.attrs.display_alphabetically.value ? 'label' : 'presentation_order'" data-ng-class="{'checkbox-inline': (field.attrs.layout_orientation.value == 'horizontal'), 'has-error': f['input-' + $parent.entryIndex + '-option-' + entryIndex].$invalid}">
            <input id="{{::fieldEntry}}"
                   name="{{'input-' + $parent.entryIndex + '-option-' + entryIndex}}"
                   class="inputelem"
                   data-ng-model="entry[option.id]"
                   data-ng-required="entry.required_status"
                   type="checkbox" />
            <span uib-popover="{{option.hint1}}" data-ng-class="{'underline': option.hint1}">{{::option.label}}</span>
          </label>
        </div>
      </div>
      <div data-ng-switch-when="date" data-ng-class="{'has-error': entry.required_status}">
        <div class="input-group">
          <input id="{{::fieldEntry}}"
                 name="input-{{entryIndex}}"
                 class="form-control inputelem"
                 type="text"
                 maxlength="4096"
                 readonly="readonly"
                 aria-label="{{::field.label}}"
                 data-ng-model="entry['value']"
                 data-ng-required="entry.required_status"
                 data-ng-click="open()"
                 uib-datepicker-popup
                 datepicker-options="dateOptions"
                 is-open="status.opened"
                 show-button-bar="false" />
          <span class="input-group-addon" data-ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </div>
      <div data-ng-switch-when="daterange" data-ng-class="{'has-error': entry.required_status}">
        <span class="form-group form-inline">
          <label data-translate>From</label>
          <div class="input-group">
            <input id="{{::fieldEntry}}"
                   name="input-{{entryIndex}}"
                   class="form-control inputelem"
                   type="text"
                   maxlength="4096"
                   readonly="readonly"
                   aria-label="{{::field.label}}"
                   data-ng-model="daterange.start"
                   data-ng-required="entry.required_status"
                   data-ng-attr-placeholder="{{field.placeholder}}"
                   data-ng-click="openStart()"
                   uib-datepicker-popup
                   datepicker-options="dateOptions1"
                   is-open="status.openedStart"
                   show-button-bar="false" />
            <span class="input-group-addon" data-ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i><span>
          </div>
        </span>
        <span class="form-group form-inline spaced" data-ng-if="daterange.start">
          <label data-translate>To</label>
          <div class="input-group">
            <input id="{{::fieldEntry}}"
                   name="input-{{entryIndex}}"
                   class="form-control inputelem"
                   type="text"
                   maxlength="4096"
                   readonly="readonly"
                   aria-label="{{::field.label}}"
                   data-ng-model="daterange.end"
                   data-ng-required="entry.required_status"
                   data-ng-attr-placeholder="{{field.placeholder}}"
                   data-ng-click="openEnd()"
                   uib-datepicker-popup
                   datepicker-options="dateOptions2"
                   is-open="status.openedEnd"
		   show-button-bar="false" />
            <span class="input-group-addon" data-ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i><span>
          </div>
        </span>
        <span class="spaced" data-ng-if="daterange.start">
          <button type="button" class="btn btn-default" ng-click="clear()"><i class="glyphicon glyphicon-remove-circle"></i></button>
        </span>
      </div>
      <div data-ng-switch-when="tos">
        <div class="form-group tos-text" data-ng-click="entry['value'] = !entry['value']">{{field.attrs.text.value}}</div>
        <div data-ng-if="field.attrs.attachment.value">
          <a href="{{field.attrs.attachment_url.value}}" target="_blank" rel="noreferrer noopener">{{field.attrs.attachment_text.value}}</a>
        </div>
        <div class="checkbox" data-ng-class="{'has-error': entry.required_status}">
          <label>
            <input id="{{::fieldEntry}}"
                   name="input-{{entryIndex}}"
                   class="inputelem"
                   data-ng-model="entry['value']"
                   data-ng-required="entry.required_status"
                   value="{{field.value}}"
                   type="checkbox" />
            <span class="tos-checkbox-label">{{field.attrs.checkbox_label.value}}</span>
          </label>
        </div>
      </div>
      <div data-ng-switch-when="map">
        <div id="{{::fieldEntry}}">
          <div class="map"></div>
	  <div class="input-group">
		  <select id="{{::fieldEntry}}" name="{{'input-' +  entryIndex}}" class="form-control inputelem" data-ng-model="entry['value']" data-ng-change="field.attrs.topojson.set(entry['value'])" data-ng-required="entry.required_status">
              <option data-ng-repeat="option in field.attrs.topojson.geojson.features | orderBy:'properties.name'" value="{{option.id}}">{{::option.properties.name}}</option>
            </select>
            <span class="input-group-addon" data-ng-click="entry['value']=''; field.attrs.topojson.reset()" data-ng-disabled="!entry['value']"><span class="glyphicon glyphicon-remove-circle"></span></span>
          </div>
        </div>
      </div>
      <div data-ng-switch-when="fileupload">
        <div id="{{::fieldEntry}}" data-ng-include="'views/partials/rfile_upload_button.html'"></div>
      </div>
      <div data-ng-switch-when="fieldgroup">
        <div data-ng-if="field.attrs.multimedia.value" data-ng-switch="field.attrs.multimedia_type.value">
          <div data-ng-switch-when="image">
            <img data-ng-src="{{field.attrs.multimedia_url.value}}" />
          </div>
          <div data-ng-switch-when="audio">
            <audio controls>
              <source data-ng-src="{{field.attrs.multimedia_url.value}}" type="audio/mpeg" />
            </audio>
          </div>
          <div data-ng-switch-when="video">
            <video controls><source data-ng-src="{{field.attrs.multimedia_url.value}}" type="video/mp4"></video>
          </div>
        </div>
        <div data-ng-include="'views/submission/form.html'"></div>
      </div>
      <div data-ng-switch-default data-ng-class="{'has-error': entry.required_status}" data-ng-model-options="{'debounce':250}">
        <input id="{{::fieldEntry}}"
               name="input-{{entryIndex}}"
               class="form-control inputelem"
               data-ng-init="maxlength = field.attrs.max_len.value > 0 ? field.attrs.max_len.value : 4096"
               data-ng-model="entry['value']"
               data-ng-minlength="field.attrs.min_len.value"
               data-ng-pattern="validator"
               maxlength="{{maxlength}}"
               data-ng-required="entry.required_status"
               data-ng-attr-placeholder="{{field.placeholder}}"
               aria-label="{{::field.label}}"
               type="text" />
        <div>
          <div data-ng-if="f['input-' + entryIndex].$error.pattern && field.attrs.input_validation.value !== 'custom'">
            <span class="text-danger" data-translate>The specified input is not valid:</span>
            <span data-ng-switch="field.attrs.input_validation.value">
              <span data-ng-switch-when="email" data-translate>please enter a valid email address.</span>
              <span data-ng-switch-when="number" class="text-danger" data-translate>please enter numbers only.</span>
              <span data-ng-switch-when="phonenumber" class="text-danger" data-translate>please enter numbers only.</span>
            </span>
          </div>
          <div data-ng-if="entry['value'].length && maxlength >= 0 && (maxlength - entry['value'].length) <= 50" class="pull-right">{{entry['value'].length}}/{{maxlength}}</div>
          <div data-ng-if="entry.required_status && displayErrors()" class="pull-left red">
          </div>
          <span data-ng-if="f['input-' + entryIndex].$error.required && displayErrors()" class="text-danger" data-translate>This field is mandatory.</span>
          <span data-ng-if="f['input-' + entryIndex].$error.minlength && displayErrors()" class="text-danger" data-translate>The answer is too short.</span>
        </div>
      </div>
    </div>
  </div>
  <div data-ng-if="field.type !== 'inputbox' && field.type !== 'textarea' && entry.required_status && displayErrors()" class="pull-left red" data-translate>This field is mandatory.</div>
  <div data-ng-if="field.type === 'selectbox'" data-ng-repeat="option in field.options">
    <div data-ng-show="option.set && option.hint1"><i class="glyphicon glyphicon-info-sign"></i> {{option.hint1}}</div>
  </div>
  <div data-ng-repeat="option in field.options">
    <div data-ng-show="option.set && option.hint2" data-ng-class="{'red': option.block_submission}"><i class="glyphicon glyphicon-info-sign"></i> {{option.hint2}}</div>
  </div>
</div>
