.contextClarification {
  font-size: 1.125em;
}

.contextClarification,
.contextListDescription,
.contextCardDescription,
.receiverDescription,
.stepDescription,
.fieldDescription
{
  color: #333;
  white-space: pre-wrap;
}

.fieldDescription {
  font-size: 0.9em;
}

.contextCards, .receiverCards {
  position: relative;
}

.contextCard, .contextList, .receiverCard {
  margin-bottom: 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  word-wrap: break-word;
}

.contextCardTitle, .receiverCardTitle {
  margin-bottom: 0.8em;
}

.receiverCard.selected, .contextCard:hover {
  background-color: #fcf8e3;
}

.receiverCard.disabled {
  background-color: #f2dede;
}

.fieldAnswerEntry {
  margin-top: 15px;
}

.fieldAnswerEntryFirst {
  margin-top: 0px;
}

.fieldAnswerEntryLast {
  margin-bottom: 0.8em;
}

.fieldAnswerEntryLabel:after {
  content:'';
  display:block;
  clear: both;
}

.submissionFieldInput {
  padding-left: 0.8em;
}

#StepTitle {
  color: #1E3D51;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1.25em;
}

.fileName {
  word-break: break-all;
  word-wrap: break-word;
}

#MaxSelectableReceiverBox {
  margin-bottom: 20px;
}

.code {
  color: 000;
  background: #eee;
}

#KeyCodeBox {
  background-color: #EEE;
  margin: 1.25em auto;
  padding: 1.25em;
  width: 80%;
  text-align: center;
  font-family: monospace;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 0.8em;
  direction: ltr;
}

#KeyImg {
  margin-left: 2em;
  margin-right: 2em;
}

#SubmissionButtons button {
  margin-left: 0px;
  margin-right: 0.8em;
}

#SubmissionErrors {
  margin-top: 20px;
}

#FileUploadsHeader {
  font-size: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.fileuploadprogress {
  position: relative;
  width: 11.25em;
  bottom: 0px;
}

.tos-checkbox-label {
  font-weight: bold;
}

.radio label, .checkbox label {
  display: block;
}

.cc-text-1 {
  font-size: 35px;
}

.cc-text-2 {
  font-size: 1.25em;
}

#creditCard {
  width: 20em;
  direction: ltr;
}

.err-link {
  padding: 2px 4px;
  background-color: #f9f2f4;
  border-radius: 4px;
  color: #c7254e;
}

.question-label {
  font-weight: bold;
}

.question-body {
  padding-bottom: 1.4em;
}

html[dir="ltr"] .question {
  padding: 0 0 0 0.8em;
}

html[dir="rtl"] .question {
  padding: 0 0.8em 0 0;
}

.feature {
  fill: #ccc;
}

.mapoutline {
  fill: #ddd;
  stroke: #000;
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 1em;
  background: #fff;
  border: 0px;
  font-weight: bold;
  pointer-events: none;
}
