.newTip {
  font-weight: bold;
}

.selectedTip,
.table-striped > tbody > tr.selectedTip:nth-child(odd) > td {
  background-color: #FFFFCC;
}

.tip-action-open {
  cursor: pointer;
}

.fieldAnswer {
  margin-bottom: 0.8em;
}

.TipLabel {
  color: #428bca;
}

.WbNameInMessages {
  font-weight: bold;
}

.ReceiverNameInMessages {
  font-weight: bold;
}

#SubmissionComments, #SubmissionMessages {
  margin-top: 1.25em;
}

#StatusPageMessage {
  margin: 1.25em;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  font-weight: bold;
  text-align: center;
}

#SearchFilter {
  margin: 0 5px;
}

.fieldLabel {
  font-weight: bold;
  color: #D97872;
}

.question {
  margin-bottom: 0.2em;
}
