  <div class="col-md-6">
    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.disable_submissions" type="checkbox" />
        <span data-translate>Disable submissions</span>
      </label>
    </div>

    <!--
    <div class="form-group" data-ng-if="::admin.node.root_tenant && admin.node.encryption_available && !admin.node.encryption">
      <label>
        <input data-ng-model="admin.node.encryption" type="checkbox" />
        <span data-translate>Enable encryption</span>
      </label>
    </div>
    -->

    <div class="form-group" data-ng-if="!admin.node.encryption">
      <label>
        <input data-ng-model="admin.node.allow_unencrypted" type="checkbox" />
        <span data-translate>Allow the system to store data in plaintext when encryption is not available</span>
      </label>
    </div>

    <div class="form-group" data-ng-if="admin.node.root_tenant">
      <label>
        <input data-ng-model="admin.node.multisite" type="checkbox" />
        <span data-translate>Enable multisite feature</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.two_factor_auth" type="checkbox" />
        <span data-translate>Enable two factor authentication</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.allow_iframes_inclusion" type="checkbox" />
        <span data-translate>Allow other websites to include the platform inside iframes</span>
      </label>
      <div data-ng-if="admin.node.allow_iframes_inclusion">
        <span class="label label-warning" data-translate>Warning</span>
        <span data-translate>By enabling this option, you are allowing other websites to include the platform inside iframes; this could potentially be used to endanger the platform or intercept users' communications</span>
      </div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.can_postpone_expiration" type="checkbox" />
        <span data-translate>Allow recipients to postpone expiration date of the submission</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.do_not_expose_users_names" type="checkbox" />
        <span data-translate>Do not expose users' names</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.can_delete_submission" type="checkbox" />
        <span data-translate>Allow recipients to delete submissions</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.can_grant_permissions" type="checkbox" />
        <span data-translate>Allow recipients to grant permissions to whistleblowers on specific submissions</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.allow_indexing" type="checkbox" />
        <span data-translate>Enable search engines indexing</span>
      </label>
    </div>

    <div class="form-group" data-ng-if="admin.node.allow_indexing">
      <label data-translate>Description</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.description"></textarea>
      </div>
    </div>

    <div class="form-group" data-ng-if="!admin.node.disable_privacy_badge">
      <label>
        <input data-ng-model="admin.node.enable_custom_privacy_badge" type="checkbox" />
        <span data-translate>Enable custom privacy panel</span>
      </label>
    </div>

    <div class="form-group" data-ng-if="!admin.node.disable_privacy_badge && admin.node.enable_custom_privacy_badge">
      <label data-translate>Custom privacy panel</label>
      <label>(<span data-translate>Text shown when the whistleblower is not using Tor</span>)</label>
      <div>
        <input class="form-control" data-ng-model="admin.node.custom_privacy_badge_text" type="text" />
      </div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.disable_privacy_badge" type="checkbox" />
        <span data-translate>Disable the privacy panel</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.disable_key_code_hint" type="checkbox" />
        <span data-translate>Disable the receipt hint</span>
      </label>
    </div>

    <div data-ng-include="'views/partials/ricochet_config.html'"></div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.disable_donation_panel" type="checkbox" />
        <span data-translate>Disable the donation panel</span>
      </label>
    </div>

    <div class="form-group">
      <label data-translate>Amount of days till whistleblower access expires</label>
      <input class="form-control" data-ng-model="admin.node.wbtip_timetolive" type="number" min="1" />
      <div data-translate>For security reasons the whistleblower access is subject to expiration.</div>
      <div data-translate>Tweak this setting only if you know what you are doing.</div>
    </div>

    <div class="form-group">
      <label data-translate>Password change interval</label>
      <input class="form-control" data-ng-model="admin.node.password_change_period" type="number" min="0" />
      <div data-translate>For security reasons, password changes are required at regular intervals.</div>
      <div data-translate>Set the value to 0 to disable this feature.</div>
    </div>

    <div class="form-group">
      <label data-translate>Landing page</label>
      <select name="type" class="form-control" data-ng-model="admin.node.landing_page" required>
        <option value="homepage">/</option>
        <option value="submissionpage">/submission</option>
      </select>
    </div>

    <div class="form-group">
      <label data-translate>Default questionnaire</label>
      <select class="form-control" data-ng-model="admin.node.default_questionnaire" data-ng-options="item.id as item.name for item in admin.questionnaires"></select>
    </div>

    <div class="form-group">
      <label data-translate>Title of the submission page</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.header_title_submissionpage"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Text shown on top of the interface for selecting contexts</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.contexts_clarification"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.show_contexts_in_alphabetical_order" type="checkbox" />
        <span data-translate>Show contexts in alphabetical order</span>
      </label>
    </div>

    <div class="form-group">
      <label data-translate>Type of context selector:</label>
      <select name="type" class="form-control" data-ng-model="admin.node.context_selector_type" required>
        <option value="list">list</option>
        <option value="cards">cards</option>
        <option value="search">search</option>
      </select>
    </div>

    <div class="form-group" data-ng-if="admin.node.context_selector_type === 'cards'">
      <label>
        <input data-ng-model="admin.node.show_small_context_cards" type="checkbox" />
        <span data-translate>Show small context cards on submission interface</span>
      </label>
    </div>

    <div class="form-group">
      <label data-translate>Title of the receipt page</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.header_title_receiptpage"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Title of the submission status page</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.header_title_tippage"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label>
        <span data-translate>Size limit for file attachments</span>
        <span data-translate>in megabytes</span>
      </label>
      <input class="form-control" data-ng-model="admin.node.maximum_filesize" type="number" min="0" />
    </div>

    <div class="form-group">
      <input data-ng-model="admin.node.enable_admin_exception_notification" type="checkbox">
      <label data-translate>Notify administrators of software problems</label>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.node.enable_developers_exception_notification" type="checkbox">
      <label data-translate>Notify developers of software problems</label>
      <div data-translate>By enabling this feature, you will contribute to the development and security of the platform.</div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.basic_auth" type="checkbox" />
        <span data-translate>Enable HTTP Basic Authentication to limit platform access</span>
      </label>
      <div data-ng-if="admin.node.basic_auth" class="nested">
        <label data-translate>Username</label>
        <input class="form-control" name="username" data-ng-model="admin.node.basic_auth_username" type="text" autocomplete="off" />
        <label data-translate>Password</label>
        <input class="form-control" name="password" data-ng-model="admin.node.basic_auth_password" type="text" autocomplete="off" />
      </div>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.node.enable_password_reset" type="checkbox" />
      <label data-translate>Allow users to reset their passwords</label>
      <div data-ng-if="admin.node.enable_password_reset">
        <span class="label label-warning" data-translate>Warning</span>
        <span data-translate>Allowing users to reset their passwords may reduce the security of the platform due to security becoming dependent on the security of user's email accounts.</span>
      </div>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.node.enable_user_pgp_key_upload" type="checkbox" />
      <label data-translate>Enable users to upload their PGP keys</label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.multisite_login" type="checkbox" />
        <span data-translate>Enable multi-site login</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.simplified_login" type="checkbox" />
        <span data-translate>Enable simplified login</span>
      </label>
    </div>

    <div data-ng-if="admin.node.root_tenant">
      <div class="form-group">
        <label data-translate>Logging level</label>
        <select class="form-control" data-ng-model="admin.node.log_level">
          <option value="ERROR">ERROR</option>
          <option value="INFO">INFO</option>
          <option value="DEBUG">DEBUG</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.node.log_accesses_of_internal_users" type="checkbox" />
      <label data-translate>Log accesses of internal users</label>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.node.enable_custodian" type="checkbox">
      <label data-translate>Enable custodian user role</label>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.node.enable_scoring_system" type="checkbox">
      <label data-translate>Enable scoring system</label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.enable_experimental_features" type="checkbox" />
        <span data-translate>Enable experimental features</span>
      </label>
      <div data-ng-if="admin.node.enable_experimental_features">
        <span class="label label-danger" data-translate>Warning</span>
        <span data-translate>The experimental features may be less stable or even not work at all; enable this option at your own risk. Support for these features may vary and they may be removed in the future.</span>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-success"
              data-ng-disabled="advancedForm.$invalid"
              data-ng-click="updateNode()" type="submit">
        <i class="glyphicon glyphicon-ok"></i>
        <span data-translate>Save</span>
      </button>

      <button class="btn btn-danger"
              data-ng-click="resetSubmissions()" type="submit">
        <i class="glyphicon glyphicon-trash"></i>
        <span data-translate>Reset submissions</span>
      </button>
    </div>
  </div>
</div>
