<div id="HomePageBox">
  <div id="NodePresentation" data-ng-if="node.presentation">{{::node.presentation}}</div>

  <div id="WhistleblowerBox" class="row">
    <div id="WhistleblowerSubmitBoxButton" class="row" data-ng-show="node.disable_submissions || !node.accept_submissions || (!node.https_whistleblower && !connection.tor)">
      <button class="btn btn-danger disabled">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span data-translate>Submissions disabled</span>
      </button>
    </div>
    <div class="row" data-ng-show="!node.https_whistleblower && !connection.tor">
      <p class="text-danger" data-translate>You are connecting to the server without anonymity and this server supports only anonymous submissions</p>
    </div>
    <div class="row" data-ng-show="!node.disable_submissions && node.accept_submissions && (node.https_whistleblower || connection.tor)">
      <div id="WhistleblowerSubmitBox">
        <div id="WhistleblowerSubmitBoxHeader">{{::node.whistleblowing_question}}</div>
        <div id="WhistleblowerSubmitBoxButton">
          <button data-ng-click="evaluateDisclaimerModalOpening() || Utils.go('/submission')" class="btn btn-primary">{{::node.whistleblowing_button}}</button>
        </div>
      </div>
  <!--  <div id="disclaimer_home" style="width: 25%; display: block; margin-left: auto; margin-right: auto">  -->
    <div id="disclaimer_home" style="text-align: left">
<!--      <span style="color:#1E3D51" data_translate>DISCLAIMER1</span><a href="https://bit.ly/2JmBMOw"> (https://bit.ly/2JmBMOw)</a><span style="text-align: left; color:#1E3D51" data_translate>DISCLAIMER2</span> -->
      <span style="color:#1E3D51" data_translate>DISCLAIMER1</span> <a href="https://bit.ly/2JmBMOw"> (https://bit.ly/2JmBMOw)</a> <span style="color:#1E3D51" data_translate>DISCLAIMER2</span>
    </div>
      <div id="WhistleblowerReceiptBox" class="center-block" data-ng-include="'views/partials/wb_login_box.html'"></div>
    </div>
  </div>

  <div id="DonationPanel" class="row" data-ng-if="!node.disable_donation_panel">
    <div class="col-md-12">
      <span data-translate>This platform makes use of GlobaLeaks software specifically designed to protect the identity for submitter and recipient in the exchange of content.</span><br />
      <span data-translate>The software is developed by the non-profit Hermes Center for Transparency and Digital Human Rights.</span>
      <a href="https://www.globaleaks.org/donate/" target="_blank" rel="noreferrer noopener"><span data-translate>Please support Hermes through their donation page.</span></a>
    </div>
  </div>
</div>
